In [6]:
import sys
from pathlib import Path
import json

import pandas as pd
import numpy as np
import shapely.geometry as sg

DIR = Path('..')
sys.path.append(str(DIR))

import gtfstk as gt

DATA_DIR = DIR/'data/'

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
# Load a feed
#
feed = gt.read_gtfs(DATA_DIR/'cairns_gtfs.zip', dist_units='km')
print(feed)

* agency --------------------
	                                         agency_name  \
0  Department of Transport and Main Roads - Trans...

                 agency_url     agency_timezone agency_lang  agency_phone
0  http://www.sunbus.com.au  Australia/Brisbane          en  (07)40576411
* calendar --------------------
	                           service_id  monday  tuesday  wednesday  thursday  \
0          CNS2014-CNS_MUL-Weekday-00       1        1          1         1
1  CNS2014-CNS_MUL-Weekday-00-0000100       0        0          0         0
2         CNS2014-CNS_MUL-Saturday-00       0        0          0         0
3           CNS2014-CNS_MUL-Sunday-00       0        0          0         0

   friday  saturday  sunday start_date  end_date
0       1         0       0   20140526  20141226
1       1         0       0   20140530  20141226
2       0         1       0   20140531  20141227
3       0         0       1   20140601  20141228
* calendar_dates --------------------
	                           service_id      date  exception_type
0          CNS2014-CNS_MUL-Weekday-00  20140609               2
1          CNS2014-CNS_MUL-Weekday-00  20141006               2
2          CNS2014-CNS_MUL-Weekday-00  20141225               2
3          CNS2014-CNS_MUL-Weekday-00  20141226               2
4  CNS2014-CNS_MUL-Weekday-00-0000100  20141226               2
* fare_attributes --------------------
	None
* fare_rules --------------------
	None
* feed_info --------------------
	None
* frequencies --------------------
	None
* routes --------------------
	   route_id route_short_name                    route_long_name route_desc  \
0   110-423              110                   City - Palm Cove        NaN
1  110N-423             110N                   City - Palm Cove        NaN
2   111-423              111               City - Kewarra Beach        NaN
3   112-423              112  Yorkeys Knob - Smithfield via JCU        NaN
4   113-423              113    Sunbus Depot - Cairns City Mall        NaN

   route_type route_url route_color route_text_color
0           3       NaN      7BC142           000000
1           3       NaN      7BC142           000000
2           3       NaN      7BC142           000000
3           3       NaN      7BC142           000000
4           3       NaN      7BC142           000000
* shapes --------------------
	  shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
0  1100015    -16.743632    145.668255              10001
1  1100015    -16.743522    145.668394              10002
2  1100015    -16.741258    145.671277              10003
3  1100015    -16.744007    145.671074              10004
4  1100015    -16.744015    145.671074              10005
* stops --------------------
	  stop_id stop_code                                      stop_name stop_desc  \
0  750000       NaN  Cedar Rd (Palm Cove) - Hail and Ride Location       NaN
1  750001       NaN                        Williams Esplanade N201       NaN
2  750002       NaN           Talpa Close - Hail and Ride Location       NaN
3  750003       NaN                              Veivers Road N203       NaN
4  750004       NaN      Captain Cook Hwy N3 (Cairns Tropical Zoo)       NaN

    stop_lat    stop_lon zone_id stop_url  location_type parent_station
0 -16.743590  145.668217     NaN      NaN              0            NaN
1 -16.744015  145.671110     NaN      NaN              0            NaN
2 -16.749258  145.667893     NaN      NaN              0            NaN
3 -16.748213  145.663675     NaN      NaN              0            NaN
4 -16.757931  145.663283     NaN      NaN              0            NaN
* stop_times --------------------
	                              trip_id arrival_time departure_time stop_id  \
0  CNS2014-CNS_MUL-Weekday-00-4165878     05:50:00       05:50:00  750337
1  CNS2014-CNS_MUL-Weekday-00-4165878     05:50:00       05:50:00  750000
2  CNS2014-CNS_MUL-Weekday-00-4165878     05:52:00       05:52:00  750001
3  CNS2014-CNS_MUL-Weekday-00-4165878     05:54:00       05:54:00  750002
4  CNS2014-CNS_MUL-Weekday-00-4165878     05:55:00       05:55:00  750003

   stop_sequence  pickup_type  drop_off_type
0              1            0              0
1              2            0              0
2              3            0              0
3              4            0              0
4              5            0              0
* transfers --------------------
	None
* trips --------------------
	  route_id                  service_id                             trip_id  \
0  110-423  CNS2014-CNS_MUL-Weekday-00  CNS2014-CNS_MUL-Weekday-00-4165878
1  110-423  CNS2014-CNS_MUL-Weekday-00  CNS2014-CNS_MUL-Weekday-00-4165879
2  110-423  CNS2014-CNS_MUL-Weekday-00  CNS2014-CNS_MUL-Weekday-00-4165880
3  110-423  CNS2014-CNS_MUL-Weekday-00  CNS2014-CNS_MUL-Weekday-00-4165881
4  110-423  CNS2014-CNS_MUL-Weekday-00  CNS2014-CNS_MUL-Weekday-00-4165882

              trip_headsign  direction_id block_id shape_id
0  The Pier Cairns Terminus             0      NaN  1100023
1  The Pier Cairns Terminus             0      NaN  1100023
2  The Pier Cairns Terminus             0      NaN  1100023
3  The Pier Cairns Terminus             0      NaN  1100023
4  The Pier Cairns Terminus             0      NaN  1100023
* dist_units --------------------
	km

In [8]:
feed.describe()

,indicator,value
0,agencies,[Department of Transport and Main Roads - Tran...
1,timezone,Australia/Brisbane
2,start_date,20140526
3,end_date,20141228
4,num_routes,22
5,num_trips,1339
6,num_stops,416
7,num_shapes,54
8,sample_date,20140529
9,num_routes_active_on_sample_date,20
10,num_trips_active_on_sample_date,622
11,num_stops_active_on_sample_date,416

In [3]:
# Validate it
#
feed.validate()

,type,message,table,rows
0,warning,This feed has expired,calendar/calendar_dates,[]
1,warning,"Duplicate (trip_id, departure_time) pair",stop_times,"[17710, 17722, 17730, 17732, 17736, 17739, 177..."

In [6]:
# Compute trip stats
#
trip_stats = feed.compute_trip_stats()
trip_stats.head().T

,703,0,704,705,706
trip_id,CNS2014-CNS_MUL-Weekday-00-4165878,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Weekday-00-4165879,CNS2014-CNS_MUL-Weekday-00-4165880,CNS2014-CNS_MUL-Weekday-00-4165881
route_id,110-423,110-423,110-423,110-423,110-423
route_short_name,110,110,110,110,110
route_type,3,3,3,3,3
direction_id,0,0,0,0,0
shape_id,1100023,1100023,1100023,1100023,1100023
num_stops,35,35,35,35,35
start_time,05:50:00,06:16:00,06:20:00,06:50:00,07:15:00
end_time,06:50:00,07:10:00,07:20:00,07:50:00,08:20:00
start_stop_id,750337,750337,750337,750337,750337
end_stop_id,750449,750449,750449,750449,750449
is_loop,0,0,0,0,0
duration,1,0.9,1,1,1.08333
distance,32.5071,32.5071,32.5071,32.5071,32.5071
speed,32.5071,36.119,32.5071,32.5071,30.0066

In [7]:
# Add shape_dist_traveled column to stop times
#
feed = feed.append_dist_to_stop_times(trip_stats)
feed.stop_times.head().T

,17709,17710,17711,17712,17713
trip_id,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Saturday-00-4165937
arrival_time,06:16:00,06:16:00,06:18:00,06:20:00,06:21:00
departure_time,06:16:00,06:16:00,06:18:00,06:20:00,06:21:00
stop_id,750337,750000,750001,750002,750003
stop_sequence,1,2,3,4,5
pickup_type,0,0,0,0,0
drop_off_type,0,0,0,0,0
shape_dist_traveled,0,0.46864,1.19038,2.15478,2.619

In [8]:
# Pick a study date
#
week = feed.get_first_week()
print(week)
date = feed.compute_busiest_date(week)
date

['20140526', '20140527', '20140528', '20140529', '20140530', '20140531', '20140601']

'20140530'

In [12]:
# Compute feed time series
#
fts = feed.compute_feed_time_series(trip_stats, date, freq='6H')
fts

,num_trip_starts,num_trips,service_distance,service_duration,service_speed
2014-05-30 00:00:00,17,2.075000,582.579000,12.450000,46.793494
2014-05-30 06:00:00,240,28.966667,4954.224929,173.800000,28.505322
2014-05-30 12:00:00,253,32.202778,5505.336088,193.216667,28.493070
2014-05-30 18:00:00,126,17.258333,3248.283810,103.550000,31.369230

In [9]:
# Compute route stats 
#
route_stats = feed.compute_route_stats(trip_stats, date)
route_stats.head().T

                           0         1         2         3         4
route_id             110-423  110N-423   111-423   112-423   113-423
route_short_name         110      110N       111       112       113
route_type                 3         3         3         3         3
num_trips                 59         9        58        15         6
is_loop                    0         0         0         1         0
is_bidirectional           1         1         1         0         1
start_time          05:50:00  24:40:00  06:02:00  07:55:00  06:05:00
end_time            24:02:00  29:39:00  24:36:00  22:31:00  18:42:00
max_headway               35       NaN        67        60        60
min_headway               23       NaN        25        60        60
mean_headway         29.9556       NaN   30.9545        60        60
peak_num_trips             5         2         5         1         2
peak_start_time     18:13:00  24:50:00  07:57:00  07:55:00  06:35:00
peak_end_time       18:20:00  25:35:00  08:05:00  08:31:00  06:45:00
service_distance     1894.22   399.509   2002.68   317.422   147.602
service_duration       57.35   7.91667     59.35         9   3.93333
service_speed        33.0292   50.4643   33.7435   35.2691   37.5258
mean_trip_distance   32.1055   44.3899   34.5289   21.1615   24.6003
mean_trip_duration  0.972034   0.87963   1.02328       0.6  0.655556

In [11]:
# Compute route time series
#
rts = feed.compute_route_time_series(trip_stats, date, freq='6H')
rts.head().T

                           2014-05-30 00:00:00  2014-05-30 06:00:00  \
indicator        route_id
num_trip_starts  110-423              1.000000            22.000000
                 110N-423             9.000000             0.000000
                 111-423              0.000000            22.000000
                 112-423              0.000000             5.000000
                 113-423              0.000000             3.000000
                 120-423              1.000000            11.000000
                 120N-423             0.000000             0.000000
                 121-423              0.000000            14.000000
                 122-423              0.000000            14.000000
                 123-423              0.000000            23.000000
                 130-423              0.000000            12.000000
                 131-423              0.000000            11.000000
                 131N-423             0.000000             0.000000
                 133-423              0.000000            12.000000
                 140-423              1.000000            17.000000
                 140N-423             5.000000             0.000000
                 141-423              0.000000            22.000000
                 142-423              0.000000            17.000000
                 143-423              0.000000            22.000000
                 143W-423             0.000000             0.000000
                 150-423              0.000000            13.000000
                 150E-423             0.000000             0.000000
num_trips        110-423              0.033333             3.469444
                 110N-423             1.319444             0.000000
                 111-423              0.100000             3.497222
                 112-423              0.000000             0.413889
                 113-423              0.000000             0.347222
                 120-423              0.072222             1.525000
                 120N-423             0.000000             0.000000
                 121-423              0.000000             1.244444
...                                        ...                  ...
service_duration 140-423              0.350000            15.116667
                 140N-423             2.500000             0.000000
                 141-423              0.000000            13.366667
                 142-423              0.000000            13.766667
                 143-423              0.000000            16.000000
                 143W-423             0.000000             0.000000
                 150-423              0.000000            12.283333
                 150E-423             0.000000             0.000000
service_speed    110-423             33.183495            32.234561
                 110N-423            50.464267                  NaN
                 111-423             36.846407            32.963005
                 112-423                   NaN            35.269098
                 113-423                   NaN            35.663218
                 120-423             33.893212            33.760823
                 120N-423                  NaN                  NaN
                 121-423                   NaN            32.205455
                 122-423                   NaN            35.454454
                 123-423             30.504232            27.384614
                 130-423                   NaN            21.174730
                 131-423                   NaN            24.049902
                 131N-423                  NaN                  NaN
                 133-423             29.675914            24.905870
                 140-423             26.255898            25.620285
                 140N-423            46.755126                  NaN
                 141-423                   NaN            20.802088
                 142-423                   NaN            26.021598
                 143-423                   NaN            24.366138
                 143W-423                  NaN                  NaN
                 150-423                   NaN            31.565566
                 150E-423                  NaN                  NaN

                           2014-05-30 12:00:00  2014-05-30 18:00:00
indicator        route_id
num_trip_starts  110-423             24.000000            12.000000
                 110N-423             0.000000             0.000000
                 111-423             24.000000            12.000000
                 112-423              6.000000             4.000000
                 113-423              2.000000             1.000000
                 120-423             12.000000             8.000000
                 120N-423             0.000000             2.000000
                 121-423             13.000000             7.000000
                 122-423             13.000000             6.000000
                 123-423             24.000000            13.000000
                 130-423             12.000000             9.000000
                 131-423             12.000000             9.000000
                 131N-423             0.000000             1.000000
                 133-423             12.000000            12.000000
                 140-423             19.000000             3.000000
                 140N-423             0.000000             0.000000
                 141-423             24.000000             1.000000
                 142-423             19.000000             6.000000
                 143-423             24.000000             2.000000
                 143W-423             0.000000             9.000000
                 150-423             13.000000             1.000000
                 150E-423             0.000000             8.000000
num_trips        110-423              3.988889             2.066667
                 110N-423             0.000000             0.000000
                 111-423              4.175000             2.119444
                 112-423              0.600000             0.486111
                 113-423              0.205556             0.102778
                 120-423              1.666667             1.175000
                 120N-423             0.000000             0.283333
                 121-423              1.155556             0.622222
...                                        ...                  ...
service_duration 140-423             16.383333             3.916667
                 140N-423             0.000000             0.000000
                 141-423             15.600000             1.566667
                 142-423             16.383333             7.900000
                 143-423             18.400000             2.466667
                 143W-423             0.000000             6.750000
                 150-423             13.233333             1.916667
                 150E-423             0.000000             8.933333
service_speed    110-423             32.187962            35.984277
                 110N-423                  NaN                  NaN
                 111-423             33.081604            36.188875
                 112-423             35.269098            35.269098
                 113-423             39.623348            39.623348
                 120-423             33.747849            33.755753
                 120N-423                  NaN            47.649553
                 121-423             32.380800            32.433404
                 122-423             35.061323            34.881416
                 123-423             27.151988            29.875922
                 130-423             21.174829            21.179050
                 131-423             24.051157            24.052642
                 131N-423                  NaN            24.067374
                 133-423             24.743574            28.375748
                 140-423             25.593499            26.830956
                 140N-423                  NaN                  NaN
                 141-423             20.809505            21.014223
                 142-423             26.433521            26.385164
                 143-423             24.377598            23.786714
                 143W-423                  NaN            30.331218
                 150-423             31.524480            31.702986
                 150E-423                  NaN            34.121380

[110 rows x 4 columns]

In [13]:
# Compute trip locations for every hour
#
rng = pd.date_range('1/1/2000', periods=24, freq='H')
times = [t.strftime('%H:%M:%S') for t in rng]
loc = feed.locate_trips(date, times)
loc.head()

,trip_id,rel_dist,time,route_id,direction_id,shape_id,lon,lat
0,CNS2014-CNS_MUL-Weekday-00-4165878,0.152945,06:00:00,110-423,0,1100023,145.669490,-16.762839
1,CNS2014-CNS_MUL-Weekday-00-4165879,0.720587,07:00:00,110-423,0,1100023,145.732413,-16.865060
2,CNS2014-CNS_MUL-Weekday-00-4165880,0.152945,07:00:00,110-423,0,1100023,145.669490,-16.762839
3,CNS2014-CNS_MUL-Weekday-00-4165881,0.720587,08:00:00,110-423,0,1100023,145.732413,-16.865060
4,CNS2014-CNS_MUL-Weekday-00-4165882,0.202283,08:00:00,110-423,0,1100023,145.675422,-16.768954

In [16]:
# Build a route timetable
#
route_id = feed.routes['route_id'].iat[0]
feed.build_route_timetable(route_id, date).head().T

,0,1,2,3,4
route_id,110-423,110-423,110-423,110-423,110-423
service_id,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00,CNS2014-CNS_MUL-Weekday-00
trip_id,CNS2014-CNS_MUL-Weekday-00-4165878,CNS2014-CNS_MUL-Weekday-00-4165878,CNS2014-CNS_MUL-Weekday-00-4165878,CNS2014-CNS_MUL-Weekday-00-4165878,CNS2014-CNS_MUL-Weekday-00-4165878
trip_headsign,The Pier Cairns Terminus,The Pier Cairns Terminus,The Pier Cairns Terminus,The Pier Cairns Terminus,The Pier Cairns Terminus
direction_id,0,0,0,0,0
block_id,NaN,NaN,NaN,NaN,NaN
shape_id,1100023,1100023,1100023,1100023,1100023
arrival_time,05:50:00,05:50:00,05:52:00,05:54:00,05:55:00
departure_time,05:50:00,05:50:00,05:52:00,05:54:00,05:55:00
stop_id,750337,750000,750001,750002,750003
stop_sequence,1,2,3,4,5
pickup_type,0,0,0,0,0
drop_off_type,0,0,0,0,0
shape_dist_traveled,0,0.46864,1.19038,2.15478,2.619

In [23]:
# Compute screen line counts
#
path = DATA_DIR/'cairns_screen_line.geojson'
with path.open() as src:
    line = json.load(src)
    line = sg.shape(line['features'][0]['geometry'])
print(line)

feed.compute_screen_line_counts(line, date)

LINESTRING (145.7326126098633 -16.84915165200684, 145.7393932342529 -16.84999364745065)

,trip_id,route_id,route_short_name,crossing_time,orientation
0,CNS2014-CNS_MUL-Weekday-00-4166383,120-423,120,05:42:28,-1
1,CNS2014-CNS_MUL-Weekday-00-4166383,120-423,120,05:50:28,1
2,CNS2014-CNS_MUL-Weekday-00-4166384,120-423,120,06:42:28,-1
3,CNS2014-CNS_MUL-Weekday-00-4166384,120-423,120,06:50:28,1
34,CNS2014-CNS_MUL-Weekday-00-4166400,120-423,120,07:31:32,-1
35,CNS2014-CNS_MUL-Weekday-00-4166400,120-423,120,07:39:28,1
4,CNS2014-CNS_MUL-Weekday-00-4166385,120-423,120,07:42:28,-1
5,CNS2014-CNS_MUL-Weekday-00-4166385,120-423,120,07:50:28,1
36,CNS2014-CNS_MUL-Weekday-00-4166401,120-423,120,08:31:32,-1
37,CNS2014-CNS_MUL-Weekday-00-4166401,120-423,120,08:39:28,1
6,CNS2014-CNS_MUL-Weekday-00-4166386,120-423,120,08:42:28,-1
7,CNS2014-CNS_MUL-Weekday-00-4166386,120-423,120,08:50:28,1
38,CNS2014-CNS_MUL-Weekday-00-4166402,120-423,120,09:31:32,-1
39,CNS2014-CNS_MUL-Weekday-00-4166402,120-423,120,09:39:28,1
8,CNS2014-CNS_MUL-Weekday-00-4166387,120-423,120,09:42:28,-1
9,CNS2014-CNS_MUL-Weekday-00-4166387,120-423,120,09:50:28,1
40,CNS2014-CNS_MUL-Weekday-00-4166403,120-423,120,10:31:32,-1
41,CNS2014-CNS_MUL-Weekday-00-4166403,120-423,120,10:39:28,1
10,CNS2014-CNS_MUL-Weekday-00-4166388,120-423,120,10:42:28,-1
11,CNS2014-CNS_MUL-Weekday-00-4166388,120-423,120,10:50:28,1
42,CNS2014-CNS_MUL-Weekday-00-4166404,120-423,120,11:31:32,-1
43,CNS2014-CNS_MUL-Weekday-00-4166404,120-423,120,11:39:28,1
12,CNS2014-CNS_MUL-Weekday-00-4166389,120-423,120,11:42:28,-1
13,CNS2014-CNS_MUL-Weekday-00-4166389,120-423,120,11:50:28,1
44,CNS2014-CNS_MUL-Weekday-00-4166405,120-423,120,12:31:32,-1
45,CNS2014-CNS_MUL-Weekday-00-4166405,120-423,120,12:39:28,1
14,CNS2014-CNS_MUL-Weekday-00-4166390,120-423,120,12:42:28,-1
15,CNS2014-CNS_MUL-Weekday-00-4166390,120-423,120,12:50:28,1
46,CNS2014-CNS_MUL-Weekday-00-4166406,120-423,120,13:31:32,-1
47,CNS2014-CNS_MUL-Weekday-00-4166406,120-423,120,13:39:28,1
...,...,...,...,...,...
20,CNS2014-CNS_MUL-Weekday-00-4166393,120-423,120,15:42:28,-1
21,CNS2014-CNS_MUL-Weekday-00-4166393,120-423,120,15:50:28,1
52,CNS2014-CNS_MUL-Weekday-00-4166409,120-423,120,16:31:32,-1
53,CNS2014-CNS_MUL-Weekday-00-4166409,120-423,120,16:39:28,1
22,CNS2014-CNS_MUL-Weekday-00-4166394,120-423,120,16:42:28,-1
23,CNS2014-CNS_MUL-Weekday-00-4166394,120-423,120,16:50:28,1
54,CNS2014-CNS_MUL-Weekday-00-4166410,120-423,120,17:31:32,-1
55,CNS2014-CNS_MUL-Weekday-00-4166410,120-423,120,17:39:28,1
24,CNS2014-CNS_MUL-Weekday-00-4166395,120-423,120,17:42:28,-1
25,CNS2014-CNS_MUL-Weekday-00-4166395,120-423,120,17:50:28,1
56,CNS2014-CNS_MUL-Weekday-00-4166411,120-423,120,18:31:32,-1
57,CNS2014-CNS_MUL-Weekday-00-4166411,120-423,120,18:39:28,1
26,CNS2014-CNS_MUL-Weekday-00-4166396,120-423,120,18:42:28,-1
27,CNS2014-CNS_MUL-Weekday-00-4166396,120-423,120,18:50:28,1
58,CNS2014-CNS_MUL-Weekday-00-4166412,120-423,120,19:31:32,-1
59,CNS2014-CNS_MUL-Weekday-00-4166412,120-423,120,19:39:28,1
28,CNS2014-CNS_MUL-Weekday-00-4166397,120-423,120,19:42:28,-1
29,CNS2014-CNS_MUL-Weekday-00-4166397,120-423,120,19:50:28,1
60,CNS2014-CNS_MUL-Weekday-00-4166413,120-423,120,20:31:32,-1
61,CNS2014-CNS_MUL-Weekday-00-4166413,120-423,120,20:39:28,1
30,CNS2014-CNS_MUL-Weekday-00-4166398,120-423,120,20:42:28,-1
31,CNS2014-CNS_MUL-Weekday-00-4166398,120-423,120,20:50:28,1
62,CNS2014-CNS_MUL-Weekday-00-4166414,120-423,120,21:31:32,-1
63,CNS2014-CNS_MUL-Weekday-00-4166414,120-423,120,21:39:28,1
32,CNS2014-CNS_MUL-Weekday-00-4166399,120-423,120,21:42:28,-1
33,CNS2014-CNS_MUL-Weekday-00-4166399,120-423,120,21:50:28,1
64,CNS2014-CNS_MUL-Weekday-00-4166462,120N-423,120N,22:21:31,-1
65,CNS2014-CNS_MUL-Weekday-00-4166462,120N-423,120N,22:25:35,1
66,CNS2014-CNS_MUL-Weekday-00-4166463,120N-423,120N,23:21:31,-1
67,CNS2014-CNS_MUL-Weekday-00-4166463,120N-423,120N,23:25:35,1