In [18]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd
import json
from pathlib import Path

import utm
import pandas as pd
import numpy as np
import shapely.geometry as sg

DIR = Path('..')
sys.path.append(str(DIR))

import gtfstk as gt

%load_ext autoreload
%autoreload 2

DATA_DIR = DIR/'data'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [36]:
#path = DATA_DIR/'sample_gtfs.zip'
path = DATA_DIR/'other_feeds'/'gtfs.zip'
#path = DATA_DIR/'other_feeds'/'seq_20170310_gtfs.zip'
feed = gt.read_gtfs(path, dist_units='km')

# Pick date
date = feed.get_first_week()[0]
print('date', date)

date 20170102

In [37]:
v = gt.time_it(feed.validate)()
v

Timing validate
2017-04-15 20:41:05.813320 Began process
2017-04-15 20:41:06.283989 Finished in 0.00 min

,message_type,message,table,rows
0,error,service_name is not a valid column name,calendar,[]
1,error,holiday_name is not a valid column name,calendar_dates,[]
2,error,agency_id is not a valid column name,fare_attributes,[]
3,error,feed_id is not a valid column name,feed_info,[]
4,error,feed_license is not a valid column name,feed_info,[]
5,error,feed_contact_email is not a valid column name,feed_info,[]
6,error,feed_contact_url is not a valid column name,feed_info,[]
7,error,route_sort_order is not a valid column name,routes,[]
8,error,min_headway_minutes is not a valid column name,routes,[]
9,error,platform_code is not a valid column name,stops,[]
10,warning,"Duplicate (trip_id, departure_time) pair",stop_times,"[2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ..."

In [38]:
f = feed.stop_times.copy()
f

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,605529A5070B5817,06:00:00,06:00:00,759499,1,NaN,0,0,0.000000
1,605529A5070B5817,NaN,NaN,759764,2,NaN,0,0,0.153227
2,605529A5070B5817,NaN,NaN,759901,3,NaN,0,0,0.311479
3,605529A5070B5817,NaN,NaN,759865,4,NaN,0,0,0.405412
4,605529A5070B5817,NaN,NaN,759866,5,NaN,0,0,0.583028
5,605529A5070B5817,06:04:00,06:04:00,759867,6,NaN,0,0,0.719317
6,605529A5070B5817,NaN,NaN,759868,7,NaN,0,0,0.848097
7,605529A5070B5817,NaN,NaN,759869,8,NaN,0,0,0.966317
8,605529A5070B5817,NaN,NaN,759870,9,NaN,0,0,1.184102
9,605529A5070B5817,NaN,NaN,759871,10,NaN,0,0,1.308977
10,605529A5070B5817,NaN,NaN,759872,11,NaN,0,0,1.444545
11,605529A5070B5817,NaN,NaN,759873,12,NaN,0,0,1.529929
12,605529A5070B5817,NaN,NaN,759874,13,NaN,0,0,1.625791
13,605529A5070B5817,NaN,NaN,759875,14,NaN,0,0,1.815887
14,605529A5070B5817,NaN,NaN,759876,15,NaN,0,0,1.971171
15,605529A5070B5817,NaN,NaN,759877,16,NaN,0,0,2.083699
16,605529A5070B5817,06:09:00,06:09:00,759878,17,NaN,0,0,2.343372
17,605490A5069B5817,7:30:00,7:30:00,759499,1,NaN,0,0,0.000000
18,605490A5069B5817,NaN,NaN,759584,2,NaN,0,0,0.247857
19,605490A5069B5817,NaN,NaN,759585,3,NaN,0,0,0.620960
20,605490A5069B5817,7:39:00,7:39:00,759589,4,NaN,0,0,1.529207
21,605490A5069B5817,7:41:00,7:41:00,759593,5,NaN,0,0,2.425320
22,605490A5069B5817,NaN,NaN,759633,6,NaN,0,0,3.267035
23,605490A5069B5817,NaN,NaN,759636,7,NaN,0,0,3.855460
24,605490A5069B5817,7:47:00,7:47:00,759608,8,NaN,0,0,4.795365
25,605490A5069B5817,NaN,NaN,759655,9,NaN,0,0,5.509070
26,605490A5069B5817,7:51:00,7:51:00,759657,10,NaN,0,0,6.022440
27,605490A5069B5817,NaN,NaN,759658,11,NaN,0,0,6.203743
28,605490A5069B5817,NaN,NaN,759671,12,NaN,0,0,7.047559
29,605490A5069B5817,7:55:00,7:55:00,759670,13,NaN,0,0,7.969789
...,...,...,...,...,...,...,...,...,...
18887,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759978,4,NaN,0,0,1.193931
18888,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759979,5,NaN,0,0,1.508050
18889,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759981,6,NaN,0,0,2.163883
18890,i12-frequency_id20289-605576A5069B5817,20:03:00,20:03:00,759982,7,NaN,0,0,2.462283
18891,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759983,8,NaN,0,0,2.755871
18892,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759984,9,NaN,0,0,3.185437
18893,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759985,10,NaN,0,0,3.356705
18894,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759986,11,NaN,0,0,3.501187
18895,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759987,12,NaN,0,0,3.643357
18896,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759988,13,NaN,0,0,3.842285
18897,i12-frequency_id20289-605576A5069B5817,20:07:00,20:07:00,759989,14,NaN,0,0,4.185798
18898,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759945,15,NaN,0,0,4.371016
18899,i12-frequency_id20289-605576A5069B5817,20:10:00,20:10:00,759946,16,NaN,0,0,4.494784
18900,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759947,17,NaN,0,0,4.699506
18901,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759913,18,NaN,0,0,5.137699
18902,i12-frequency_id20289-605576A5069B5817,20:13:00,20:13:00,759914,19,NaN,0,0,5.337832
18903,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759915,20,NaN,0,0,5.639165
18904,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759948,21,NaN,0,0,5.906156
18905,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759949,22,NaN,0,0,6.060166
18906,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759950,23,NaN,0,0,6.217371
18907,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759951,24,NaN,0,0,6.403305
18908,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759952,25,NaN,0,0,6.552870
18909,i12-frequency_id20289-605576A5069B5817,20:17:00,20:17:00,759953,26,NaN,0,0,6.676381
18910,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759954,27,NaN,0,0,6.837503
18911,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759955,28,NaN,0,0,7.040923
18912,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759956,29,NaN,0,0,7.341181
18913,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759957,30,NaN,0,0,7.583270
18914,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759958,31,NaN,0,0,7.718464
18915,i12-frequency_id20289-605576A5069B5817,NaN,NaN,759959,32,NaN,0,0,7.896280
18916,i12-frequency_id20289-605576A5069B5817,20:22:00,20:22:00,759499,33,NaN,0,0,8.199285

In [21]:
feed.agency.columns

Index(['agency_url', 'agency_name', 'agency_timezone'], dtype='object')

In [ ]:
feed.describe()

In [ ]:
report = feed.validate()

In [ ]:
report

In [ ]:
f = feed.stop_times.copy()
i = 10
f.ix[9:11]

In [ ]:
feed.assess()

In [ ]:
ts = feed.compute_trip_stats()
#ts.to_csv(str(DATA_DIR/'cairns_trip_stats.csv'), index=False)
ts.head()

In [ ]:
rts = feed.compute_route_time_series(ts, date)
gt.downsample(rts, freq='12H')

In [ ]:
trip_id = feed.trips['trip_id'].iat[0]
geo = feed.trip_to_geojson(trip_id, include_stops=True)
path = DATA_DIR/'trip_{!s}.geojson'.format(route_id)
with path.open('w') as tgt:
    json.dump(geo, tgt)

In [ ]:
route_id = feed.routes['route_id'].iat[0]
geo = feed.route_to_geojson(route_id, include_stops=True)
path = DATA_DIR/'route_{!s}.geojson'.format(route_id)
with path.open('w') as tgt:
    json.dump(geo, tgt)

In [ ]:
# Add distances to feed
#
trip_stats = feed.compute_trip_stats(compute_dist_from_shapes=True)
feed = feed.append_dist_to_stop_times(trip_stats)
feed.stop_times.T

In [ ]:
trip_stats = feed.compute_trip_stats()
route_stats = feed.compute_route_stats(trip_stats, date)
route_stats

In [ ]:
a = pd.Series([np.nan, np.nan])
a.dropna().max()
#gt.get_trips(feed, date, "07:30:00")

In [ ]:

# Pick screen line
path = DATA_DIR/'cairns_screen_line.geojson'
with path.open() as src:
    line = json.load(src)
    line = sg.shape(line['features'][0]['geometry'])

g = feed.compute_screen_line_counts(line, date)
g

In [ ]:
g.groupby(['route_id', 'orientation']).count()