In [124]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd
import json
from pathlib import Path

import utm
import pandas as pd
import numpy as np
import shapely.geometry as sg

DIR = Path('..')
sys.path.append(str(DIR))

import gtfstk as gt

%load_ext autoreload
%autoreload 2

DATA_DIR = DIR/'data'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [125]:
#path = DATA_DIR/'sample_gtfs.zip'
#path = DATA_DIR/'other_feeds'/'gtfs.zip'
path = DATA_DIR/'cairns_gtfs.zip'

print(gt.list_gtfs(path))

feed = gt.read_gtfs(path, dist_units='km')

# Pick date
date = feed.get_first_week()[0]
print('date', date)

            file_name  file_size
0  calendar_dates.txt        387
1          routes.txt       1478
2           trips.txt     143081
3           stops.txt      26183
4          agency.txt        199
5      stop_times.txt    2561019
6          shapes.txt     864694
7        calendar.txt        337
date 20140526

In [167]:
import copy


def proto1(feed, dates, split_directions=False,
  headway_start_time='07:00:00', headway_end_time='19:00:00'):
    frames = []
    for date in dates:
        f = gt.compute_stop_stats_base(feed.stop_times, feed.get_trips(date),
          split_directions=split_directions,
          headway_start_time=headway_start_time,
          headway_end_time=headway_end_time)
        f['date'] = date
        frames.append(f)
    
    return pd.concat(frames)

def proto2(feed, dates, split_directions=False,
  headway_start_time='07:00:00', headway_end_time='19:00:00'):
    """
    Call ``compute_stop_stats_base()`` with the subset of trips active on the given date and with the keyword arguments ``split_directions``,   ``headway_start_time``, and ``headway_end_time``.

    See ``compute_stop_stats_base()`` for a description of the output.

    Assume the following feed attributes are not ``None``:

    - ``feed.stop_timtes``
    - Those used in :func:`get_trips`

    NOTES:

    This is a more user-friendly version of ``compute_stop_stats_base()``.
    The latter function works without a feed, though.
    """
    cols = [
      'date',
      'stop_id',
      'num_routes',
      'num_trips',
      'max_headway',
      'min_headway',
      'mean_headway',
      'start_time',
      'end_time',
    ]
    activity = feed.compute_trip_activity(dates)

    # Compile stats for each date, but memoize stats by trip ID sequence
    # to avoid unnecessary computation
    stats_by_ids = {}
    frames = []
    for date in dates:
        stats = {}
        ids = tuple(activity.loc[activity[date] > 0, 'trip_id'])
        if ids in stats_by_ids:
            # Use stats previously computed
            stats = copy.copy(stats_by_ids[ids])
        elif not ids:
            stats  = {col: np.nan for col in cols}
        else:
            # Compute stats afresh
            t = feed.trips
            trips = t[t['trip_id'].isin(ids)].copy()
            stats = gt.compute_stop_stats_base(feed.stop_times, trips,
                  split_directions=split_directions,
                  headway_start_time=headway_start_time,
                  headway_end_time=headway_end_time)
            # Remember stats
            stats_by_ids[ids] = stats

        stats['date'] = date
        frames.append(stats)

    # Assemble stats into DataFrame
    return pd.concat(frames)[cols].copy()

In [165]:
dates = feed.get_dates()
len(dates)

217

In [169]:
%time p1 = proto1(feed, dates[:14])
%time p2 = proto2(feed, dates[:14])
p2

CPU times: user 3.6 s, sys: 0 ns, total: 3.6 s
Wall time: 3.6 s
CPU times: user 1.44 s, sys: 0 ns, total: 1.44 s
Wall time: 1.44 s

,date,stop_id,num_routes,num_trips,max_headway,min_headway,mean_headway,start_time,end_time
0,20140526,750000,1.0,30.0,34.0,23.0,29.863636,05:50:00,22:13:00
1,20140526,750001,1.0,30.0,35.0,23.0,29.909091,05:52:00,22:15:00
2,20140526,750002,1.0,30.0,35.0,23.0,29.909091,05:54:00,22:17:00
3,20140526,750003,1.0,30.0,35.0,23.0,29.909091,05:55:00,22:18:00
4,20140526,750004,1.0,30.0,34.0,23.0,29.863636,05:57:00,22:20:00
5,20140526,750005,1.0,30.0,34.0,23.0,29.863636,05:59:00,22:22:00
6,20140526,750006,1.0,30.0,34.0,23.0,29.695652,06:00:00,22:23:00
7,20140526,750007,1.0,30.0,34.0,23.0,29.695652,06:01:00,22:24:00
8,20140526,750008,1.0,30.0,34.0,23.0,29.695652,06:02:00,22:25:00
9,20140526,750009,1.0,30.0,33.0,23.0,29.695652,06:03:00,22:26:00
10,20140526,750010,1.0,30.0,34.0,23.0,29.695652,06:04:00,22:27:00
11,20140526,750011,1.0,30.0,33.0,23.0,29.695652,06:05:00,22:28:00
12,20140526,750012,1.0,30.0,33.0,23.0,29.695652,06:05:00,22:28:00
13,20140526,750013,1.0,29.0,67.0,25.0,32.000000,06:02:00,22:39:00
14,20140526,750014,1.0,29.0,67.0,26.0,31.863636,06:07:00,22:44:00
15,20140526,750015,2.0,59.0,37.0,0.0,15.577778,06:09:00,22:46:00
16,20140526,750016,1.0,29.0,67.0,26.0,31.863636,06:11:00,22:48:00
17,20140526,750017,1.0,29.0,67.0,26.0,31.863636,06:12:00,22:49:00
18,20140526,750018,1.0,58.0,30.0,0.0,15.909091,06:14:00,24:24:00
19,20140526,750019,1.0,29.0,30.0,30.0,30.000000,08:14:00,24:24:00
20,20140526,750020,1.0,29.0,67.0,27.0,31.818182,06:15:00,22:52:00
21,20140526,750021,1.0,29.0,67.0,28.0,31.772727,06:17:00,22:54:00
22,20140526,750022,1.0,29.0,30.0,30.0,30.000000,08:17:00,24:27:00
23,20140526,750024,1.0,29.0,30.0,30.0,30.000000,08:11:00,24:21:00
24,20140526,750025,1.0,29.0,30.0,30.0,30.000000,08:11:00,24:21:00
25,20140526,750026,1.0,29.0,30.0,30.0,30.000000,08:12:00,24:22:00
26,20140526,750027,1.0,29.0,30.0,30.0,30.000000,08:15:00,24:25:00
27,20140526,750028,2.0,58.0,29.0,1.0,15.000000,07:49:00,24:28:00
28,20140526,750029,1.0,29.0,30.0,30.0,30.000000,08:21:00,24:31:00
29,20140526,750030,1.0,29.0,30.0,30.0,30.000000,08:23:00,24:33:00
...,...,...,...,...,...,...,...,...,...
381,20140608,750413,1.0,14.0,60.0,60.0,60.000000,10:07:00,23:07:00
382,20140608,750414,1.0,14.0,60.0,60.0,60.000000,10:05:00,23:05:00
383,20140608,750415,1.0,14.0,60.0,60.0,60.000000,10:05:00,23:05:00
384,20140608,750416,1.0,14.0,60.0,60.0,60.000000,10:04:00,23:04:00
385,20140608,750417,1.0,14.0,60.0,60.0,60.000000,07:23:00,20:23:00
386,20140608,750418,1.0,14.0,60.0,60.0,60.000000,09:59:00,22:59:00
387,20140608,750419,1.0,15.0,60.0,60.0,60.000000,08:55:00,22:55:00
388,20140608,750420,1.0,15.0,60.0,60.0,60.000000,08:54:00,22:54:00
389,20140608,750421,1.0,15.0,60.0,60.0,60.000000,08:51:00,22:51:00
390,20140608,750422,1.0,15.0,60.0,60.0,60.000000,08:50:00,22:50:00
391,20140608,750423,1.0,15.0,60.0,60.0,60.000000,08:39:00,22:39:00
392,20140608,750425,1.0,15.0,60.0,60.0,60.000000,09:05:00,23:05:00
393,20140608,750426,1.0,15.0,60.0,60.0,60.000000,08:20:00,22:20:00
394,20140608,750427,1.0,15.0,60.0,60.0,60.000000,09:04:00,23:04:00
395,20140608,750428,1.0,15.0,60.0,60.0,60.000000,09:02:00,23:02:00
396,20140608,750429,1.0,30.0,37.0,23.0,30.000000,08:24:00,23:01:00
397,20140608,750430,1.0,15.0,60.0,60.0,60.000000,09:00:00,23:00:00
398,20140608,750431,1.0,15.0,60.0,60.0,60.000000,09:00:00,23:00:00
399,20140608,750435,1.0,4.0,120.0,120.0,120.000000,11:00:00,17:00:00
400,20140608,750436,1.0,5.0,120.0,120.0,120.000000,09:13:00,17:13:00
401,20140608,750437,1.0,10.0,90.0,90.0,90.000000,07:44:00,21:14:00
402,20140608,750440,1.0,9.0,60.0,60.0,60.000000,08:33:00,16:33:00
403,20140608,750448,1.0,5.0,120.0,120.0,120.000000,09:08:00,17:08:00
404,20140608,750449,11.0,121.0,17.0,0.0,7.285714,07:57:00,23:40:00
405,20140608,750450,3.0,41.0,30.0,10.0,23.571429,07:38:00,23:38:00
406,20140608,750452,5.0,40.0,45.0,0.0,24.107143,06:58:00,23:28:00
407,20140608,750453,3.0,27.0,60.0,13.0,27.347826,08:31:00,22:00:00
408,20140608,750454,1.0,15.0,60.0,60.0,60.000000,08:23:00,22:23:00
409,20140608,750455,1.0,8.0,120.0,120.0,120.000000,07:36:00,21:36:00
410,20140608,750456,4.0,42.0,37.0,7.0,18.181818,08:25:00,22:25:00

In [170]:
feed.compute_feed_stats(ts, dates[0])

ValueError: time data '2' does not match format '%Y%m%d'

In [10]:
feed.describe()

,indicator,value
0,agencies,[Department of Transport and Main Roads - Tran...
1,timezone,Australia/Brisbane
2,start_date,20140526
3,end_date,20141228
4,num_routes,22
5,num_trips,1339
6,num_stops,416
7,num_shapes,54
8,sample_date,20140529
9,num_routes_active_on_sample_date,20
10,num_trips_active_on_sample_date,622
11,num_stops_active_on_sample_date,416

In [11]:
feed.summarize()

,table,column,#values,#nonnull_values,#unique_values,min_value,max_value
0,agency,agency_name,1,1,1,Department of Transport and Main Roads - Trans...,Department of Transport and Main Roads - Trans...
1,agency,agency_url,1,1,1,http://www.sunbus.com.au,http://www.sunbus.com.au
2,agency,agency_timezone,1,1,1,Australia/Brisbane,Australia/Brisbane
3,agency,agency_lang,1,1,1,en,en
4,agency,agency_phone,1,1,1,(07)40576411,(07)40576411
0,calendar,service_id,4,4,4,CNS2014-CNS_MUL-Saturday-00,CNS2014-CNS_MUL-Weekday-00-0000100
1,calendar,monday,4,4,2,0,1
2,calendar,tuesday,4,4,2,0,1
3,calendar,wednesday,4,4,2,0,1
4,calendar,thursday,4,4,2,0,1
5,calendar,friday,4,4,2,0,1
6,calendar,saturday,4,4,2,0,1
7,calendar,sunday,4,4,2,0,1
8,calendar,start_date,4,4,4,20140526,20140601
9,calendar,end_date,4,4,3,20141226,20141228
0,calendar_dates,service_id,9,9,3,CNS2014-CNS_MUL-Sunday-00,CNS2014-CNS_MUL-Weekday-00-0000100
1,calendar_dates,date,9,9,4,20140609,20141226
2,calendar_dates,exception_type,9,9,2,1,2
0,routes,route_id,22,22,22,110-423,150E-423
1,routes,route_short_name,22,22,22,110,150E
2,routes,route_long_name,22,22,17,City - Earlville via Mooroobool,Yorkeys Knob - Smithfield via JCU
3,routes,route_desc,22,0,0,NaN,NaN
4,routes,route_type,22,22,1,3,3
5,routes,route_url,22,0,0,NaN,NaN
6,routes,route_color,22,22,1,7BC142,7BC142
7,routes,route_text_color,22,22,1,000000,000000
0,shapes,shape_id,22784,22784,54,1100015,150E0009
1,shapes,shape_pt_lat,22784,22784,3912,-17.105,-16.7413
2,shapes,shape_pt_lon,22784,22784,3820,145.662,145.787
3,shapes,shape_pt_sequence,22784,22784,2964,10001,510010
0,stops,stop_id,416,416,416,750000,750456
1,stops,stop_code,416,0,0,NaN,NaN
2,stops,stop_name,416,416,398,Abbott St C17,Yorkeys Knob N33
3,stops,stop_desc,416,0,0,NaN,NaN
4,stops,stop_lat,416,416,416,-17.1041,-16.7435
5,stops,stop_lon,416,416,415,145.663,145.786
6,stops,zone_id,416,0,0,NaN,NaN
7,stops,stop_url,416,0,0,NaN,NaN
8,stops,location_type,416,416,1,0,0
9,stops,parent_station,416,0,0,NaN,NaN
0,stop_times,trip_id,37790,37790,1339,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Weekday-00-4180831
1,stop_times,arrival_time,37790,37725,1387,05:34:00,29:39:00
2,stop_times,departure_time,37790,37725,1387,05:34:00,29:39:00
3,stop_times,stop_id,37790,37790,416,750000,750456
4,stop_times,stop_sequence,37790,37790,52,1,52
5,stop_times,pickup_type,37790,37790,2,0,1
6,stop_times,drop_off_type,37790,37790,2,0,1
0,trips,route_id,1339,1339,22,110-423,150E-423
1,trips,service_id,1339,1339,4,CNS2014-CNS_MUL-Saturday-00,CNS2014-CNS_MUL-Weekday-00-0000100
2,trips,trip_id,1339,1339,1339,CNS2014-CNS_MUL-Saturday-00-4165937,CNS2014-CNS_MUL-Weekday-00-4180831
3,trips,trip_headsign,1339,1339,15,Edmonton (Farmer St),Woree (Coconut Village)
4,trips,direction_id,1339,1339,2,0,1
5,trips,block_id,1339,0,0,NaN,NaN
6,trips,shape_id,1339,1339,54,1100015,150E0009