In [8]:
from __future__ import division
import datetime as dt
from collections import OrderedDict
import sys, os
import dateutil.relativedelta as rd
import json
from pathlib import Path

import utm
import pandas as pd
import numpy as np
import shapely.geometry as sg

DIR = Path('..')
sys.path.append(str(DIR))

import gtfstk as gt

%load_ext autoreload
%autoreload 2

DATA_DIR = DIR/'data'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
gt.GTFS_REF

,table,table_required,field,field_required,dtype
0,agency,True,agency_id,False,str
1,agency,True,agency_name,True,str
2,agency,True,agency_url,True,str
3,agency,True,agency_timezone,True,str
4,agency,True,agency_lang,False,str
5,agency,True,agency_phone,False,str
6,agency,True,agency_fare_url,False,str
7,agency,True,agency_email,False,str
8,calendar,True,service_id,True,str
9,calendar,True,monday,True,int
10,calendar,True,tuesday,True,int
11,calendar,True,wednesday,True,int
12,calendar,True,thursday,True,int
13,calendar,True,friday,True,int
14,calendar,True,saturday,True,int
15,calendar,True,sunday,True,int
16,calendar,True,start_date,True,str
17,calendar,True,end_date,True,str
18,calendar_dates,False,service_id,True,str
19,calendar_dates,False,date,True,str
20,calendar_dates,False,exception_type,True,int
21,fare_attributes,False,fare_id,True,str
22,fare_attributes,False,price,True,float
23,fare_attributes,False,currency_type,True,str
24,fare_attributes,False,payment_method,True,int
25,fare_attributes,False,transfers,True,int
26,fare_attributes,False,transfer_duration,False,int
27,fare_rules,False,fare_id,True,str
28,fare_rules,False,route_id,False,str
29,fare_rules,False,origin_id,False,str
...,...,...,...,...,...
63,stops,True,zone_id,False,str
64,stops,True,stop_url,False,str
65,stops,True,location_type,False,int
66,stops,True,parent_station,False,str
67,stops,True,stop_time_zone,False,str
68,stops,True,wheelchair_boarding,False,int
69,stop_times,True,trip_id,True,str
70,stop_times,True,arrival_time,True,str
71,stop_times,True,departure_time,True,str
72,stop_times,True,stop_id,True,str
73,stop_times,True,stop_sequence,True,int
74,stop_times,True,stop_headsign,False,str
75,stop_times,True,pickup_type,False,int
76,stop_times,True,drop_off_type,False,int
77,stop_times,True,shape_dist_traveled,False,float
78,stop_times,True,timepoint,False,int
79,transfers,False,from_stop_id,True,str
80,transfers,False,to_stop_id,True,str
81,transfers,False,transfer_type,True,int
82,transfers,False,min_transfer_time,False,int
83,trips,True,route_id,True,str
84,trips,True,service_id,True,str
85,trips,True,trip_id,True,str
86,trips,True,trip_headsign,False,str
87,trips,True,trip_short_name,False,str
88,trips,True,direction_id,False,int
89,trips,True,block_id,False,str
90,trips,True,shape_id,False,str
91,trips,True,wheelchair_accessible,False,int
92,trips,True,bikes_allowed,False,int

In [11]:
path = DATA_DIR/'cairns_gtfs.zip'
feed = gt.read_gtfs(path, dist_units='km')

# Pick date
date = feed.get_first_week()[0]
print('date', date)

date 20140526

In [ ]:
gt.duplicate_stops(feed)

In [ ]:
feed.describe(date)

In [ ]:
feed.assess()

In [ ]:
ts = feed.compute_trip_stats()
#ts.to_csv(str(DATA_DIR/'cairns_trip_stats.csv'), index=False)
ts.head()

In [ ]:
rts = feed.compute_route_time_series(ts, date)
gt.downsample(rts, freq='12H')

In [ ]:
trip_id = feed.trips['trip_id'].iat[0]
geo = feed.trip_to_geojson(trip_id, include_stops=True)
path = DATA_DIR/'trip_{!s}.geojson'.format(route_id)
with path.open('w') as tgt:
    json.dump(geo, tgt)

In [ ]:
route_id = feed.routes['route_id'].iat[0]
geo = feed.route_to_geojson(route_id, include_stops=True)
path = DATA_DIR/'route_{!s}.geojson'.format(route_id)
with path.open('w') as tgt:
    json.dump(geo, tgt)

In [ ]:
# Add distances to feed
#
trip_stats = feed.compute_trip_stats(compute_dist_from_shapes=True)
feed = feed.append_dist_to_stop_times(trip_stats)
feed.stop_times.T

In [ ]:
trip_stats = feed.compute_trip_stats()
route_stats = feed.compute_route_stats(trip_stats, date)
route_stats

In [ ]:
a = pd.Series([np.nan, np.nan])
a.dropna().max()
#gt.get_trips(feed, date, "07:30:00")

In [ ]:

# Pick screen line
path = DATA_DIR/'cairns_screen_line.geojson'
with path.open() as src:
    line = json.load(src)
    line = sg.shape(line['features'][0]['geometry'])

g = feed.compute_screen_line_counts(line, date)
g

In [ ]:
g.groupby(['route_id', 'orientation']).count()